<plugin>
	<nom>Muziekpublique</nom>
	<auteur>	<!-- Auteur du plugin -->
 	<a href="http://www.mychacra.net">Rainer Müller</a>
	</auteur>
	<version>
	0.2.1
	</version>
	<etat>
	test
	</etat>
	<description>
	Différents adaptions pour Muzikpublique
	</description>
	<prefix>mp</prefix>

	<pipeline>
		<nom>formulaire_charger</nom>
		<inclure>mp_pipelines.php</inclure>
	</pipeline>
	<necessite id="cfg" version='[1.16.0;]'/>	
	<necessite id="saisies" version='[1.24.4;]'/>	
	<necessite id="pb_selection" version='[1.2.0;]'/>		
</plugin>
